<nav class="navbar jasparly-navbar navbar-fixed top navbar -dark bg-inverse">
  <div class="container">
    <a class="navbar-brand jasparly-brand-text-color"> Jasparly Backend </a>
    <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle jasparly-button-markets" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Markets </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="nav-link" routerLink="/aliexpress" routerLinkActive="link-active-class"> AliExpress </a>
            <a class="nav-link" routerLink="/alibaba" routerLinkActive="link-active-class"> Alibaba </a>
            <a class="nav-link" routerLink="/amazon" routerLinkActive="link-active-class"> Amazon </a>
            <a class="nav-link" routerLink="/bestBuy" routerLinkActive="link-active-class"> BestBuy </a>
            <a class="nav-link" routerLink="/ebay" routerLinkActive="link-active-class"> Ebay </a>
            <a class="nav-link" routerLink="/etsy" routerLinkActive="link-active-class"> Etsy </a>
            <a class="nav-link" routerLink="/flipkart" routerLinkActive="link-active-class"> Flipkart </a>
            <a class="nav-link" routerLink="/walmart" routerLinkActive="link-active-class"> Walmart </a>
      </div>
    </div>
  </div>
</nav>
