
.jasparly-brand-text-color{
  color:white !important;
  font-weight: bold;
  text-transform: uppercase;
  font-family: Arial;
}
.jasparly-navbar{
  background-color: #990099;
}
.jasparly-button-markets{
  background-color: white !important;
  color: black !important;
}
.link-active-class{
  color:green !important;
  font-weight: bold;
}

.nav-link{
    text-transform: uppercase;
    text-align: center;
}
