<input type="text" (keyup)="searchFunction($event)" placeholder="" id="productSearch">
<!-- <input type="text" placeholder="" id="productSearch"> -->

<button type="submit" (click)="searchFunctionGo(event)" name="button">Go <i class="fa fa-search"> </i></button>
