<select id="selectCategoriesAliExpress">
  <option id="default"> *** Sort by Categories ** </option>
  <option (click)="clicked($event)" *ngFor="let category of aliExpressCategories" id="{{category.id}}">
    {{category.name}}
    <!-- <option *ngif="category.subcategories.length > 0"> -->
  </option>
</select>
<br/>
Average Rating
<input id="range" name="name-here" list="rating-avg" type="range" min="1" max="5" step="0.5">

<datalist id="rating-avg">
  <option value="1" label="1*">
  <option value="1.5" label="">
    <option value="2" label="2*">
      <option value="2.5" label="">
        <option value="3" label="3*">
          <option value="3.5" label="">
            <option value="4" label="4*">
              <option value="4.5" label="">
                <option value="5" label="5*">
<datalist>
