<div class="container">



<img src="{{productData[0].imageUrl}}" width="500" height="400"/>
{{ productData[0].productTitle }}
{{ productData[0].salePrice}}
{{productData[0].volume}}
{{productData[0].productId}}
{{productData[0].salePrice}}
{{productData[0].validTime}}
<a href="{{productData[0].productUrl}}"> Visit Product </a>
{{productData[0].localPrice}}
</div>
