
<div class="vertical-spacer-1"></div>
<div class="vertical-spacer-1"></div>

<div class="controls">
  <button type="button" class="btn btn-primary btn-sm" id="PullSelected"  (click)="pullSelected($event)"> Pull Selected</button>
  &nbsp;&nbsp;
  <button type="button" class="btn btn-primary btn-sm" id="PushSelected"  (click)="pullSelected($event)"> Push Selected</button>



</div>
