<div class="container-fluid">
<div class="vertical-spacer-1">
</div>
<div class="vertical-spacer-1">
</div>
<div class="vertical-spacer-1">
</div>
  <div class="row ">
    <div class="col text-center">
      <label class="label">Filter By:</label><span class="horizontal-pixelcer"></span> <app-aliexpress-category-select></app-aliexpress-category-select>
    </div>
    <div class="col text-center"><i class="fa fa-smile"></i></div>
    <div class="col text-center">
      <div class="row" for="search">
        <app-aliexpress-search (searchEvent)="receiveSearchEvent($event)" >
        </app-aliexpress-search>
      </div>
      <div class="row" for="controls"> <app-controls></app-controls></div>
    </div>
  </div>
<div class="vertical-spacer-1">
</div>
<div class="vertical-spacer-1">
</div>

<!-- <div class="container">
<div *ngFor="let category of productCategories; index as outer;" class=" wrap ">
  <div *ngIf=" outer % 4 == 0 && outer > 0 ">
    <div class="row">
        <div class="col card">
          {{ productCategories[outer - 4].categoryName }}
          Total {{ productCategories[outer - 4].totalProducts }}
          <a href="/aliExpressProductId/{{productCategories[outer - 4].id}}"> View Products  </a>
        </div>
      <div class="col card">
        {{ productCategories[outer - 3].categoryName }}
        Total {{ productCategories[outer-3].totalProducts }}
        <a href="/aliExpressProductId/{{productCategories[outer-3].id}}"> View Products  </a>
      </div>
      <div class="col card">
        {{ productCategories[outer-2].categoryName }}
        Total {{ productCategories[outer-2].totalProducts }}
        <a href="/aliExpressProductId/{{productCategories[outer-2].id}}"> View Products  </a>
      </div>
      <div class="col card">
        {{ productCategories[outer-1].categoryName }}
        Total {{ productCategories[outer-1].totalProducts }}
        <a href="/aliExpressProductId/{{productCategories[outer-1].id}}"> View Products  </a>
      </div>
    </div>
  </div>
</div>
</div> -->
<table class="table table-hover text-center">
  <thead>
    <tr>
      <th><label>Select</label> </th>
      <th><label>Category Name</label> </th>
      <th><label>Total Number of Products</label> <i data-toggle="tooltip" data-placement="left" title="Tooltip on left"  (mouseover)="over($event)" (mouseout)="out($event)" class="fa fa-info-circle"></i> </th>
      <th><label>Pull Latest</label> </th>
      <th><label>View</label> </th>
      <th><label>Push</label> </th>
      <th><label>Download</label> </th>
      <th><label>Last Fetched</label><i data-toggle="tooltip" data-placement="left" title="Tooltip on left"  (hover)="hover($event)" class="fa fa-info-circle"></i></th>
      <th><label>Last Pushed</label> <i data-toggle="tooltip" data-placement="left" title="Tooltip on left" (hover)="hover($event)" class="fa fa-info-circle"></i></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let category of productCategories">
      <td (click)="selected($event)"> <input type="checkbox" id="{{category.name}}"> </td>
      <td (hover)="categoryHover($event)">{{category.categoryName}}</td>
      <td (hover)="totalProductsHover($event)">{{category.totalProducts}}</td>
      <td><button id="{{category.categoryId}}" (click)="firePull($event)" class="btn btn-light btn-sm"> <i class="fa fa-download"> Pull Latest</i></button></td>
      <!-- <td><button id="{{category.categoryId}}" (click)="fireView($event)" class="btn btn-success btn-sm">View All Products</button></td> -->
      <td><button id="{{category.categoryId}}" routerLink="{{category.categoryId}}" class="btn btn-success btn-sm">View All Products</button></td>
      <td><button id="{{category.categoryId}}" (click)="firePush($event)" class="btn btn-danger btn-sm">Push</button></td>
      <td><button id="{{category.categoryId}}" (click)="fireDownload($event)" class="btn btn-success btn-sm">Download</button></td>
      <td id="lastFetched">{{category.lastFetched}}</td>
      <td id="lastPushed">{{category.lastPushed}}</td>

    </tr>
  </tbody>
</table>
</div>
