.card{
  margin: 5px;
  background-color: #990099;
  color: white;
  font-weight: bold;
  align-items: center;
}

.vertical-spacer-1{
  min-height: 1em;
}


.floatright{
  float: right;
}
.info-text{
  font-size: 10px;
  font-weight:bold;
}

.label{
  font-weight:bold;
}
.horizontal-pixelcer{
  width:1%;
  height:0px !important;
}
.container-fluid{
  width:80% !important;
}
